<!--<p-sidebar [showCloseIcon]="false"  [style]="{paddingTop: '30px'}" [(visible)]="activePanelPower" [fullScreen]="true" class="battle-panel" [baseZIndex]="910"></p-sidebar>-->
<p-dialog [(visible)]="activePanelPower" [baseZIndex]="1000" [closeIcon]="false" >
    <div class="ui-g">
        <div class="ui-g-6 center">
            <img src="/assets/pokemons/{{pokemon?.pokemon?.num || '001'}}.png">
        </div>
        <div class="ui-g-6 center">
            <h3>Novo Ataque</h3>
            <a >
                <btn-ataque [move]="currencyMove || {type: {name: ''}}" ></btn-ataque>
                <!--<p class="uppercase">{{currencyMove?.name}}</p>-->
                <!--<small>Power: {{currencyMove?.power || 0}}</small><br>-->
                <!--<small>Accuracy: {{currencyMove?.accuracy || 0}}</small><br>-->
                <!--<small>Type: {{currencyMove?.type?.name}}</small>-->
            </a>
        </div>
        <div class="ui-g-12">
            <h3>Retirar Ataque</h3>
        </div>
        <div *ngIf="pokemon?.move1" class="ui-g-6 center">
            <a (click)="changeMove(1)" >
                <btn-ataque [move]="pokemon.move1 || {type: {name: ''}}" ></btn-ataque>
            </a>
        </div>
        <div *ngIf="pokemon?.move2" class="ui-g-6 center">
            <a  (click)="changeMove(2)" >
                <btn-ataque [move]="pokemon.move2 || {type: {name: ''}}" ></btn-ataque>
            </a>
        </div>
        <div *ngIf="pokemon?.move3" class="ui-g-6 center">
            <a  (click)="changeMove(3)" >
                <btn-ataque [move]="pokemon.move3 || {type: {name: ''}}" ></btn-ataque>
            </a>
        </div>
        <div *ngIf="pokemon?.move4" class="ui-g-6 center">
            <a (click)="changeMove(4)" >
                <btn-ataque [move]="pokemon.move4 || {type: {name: ''}}" ></btn-ataque>
            </a>
        </div>
    </div>
    <div class="center">
        <button (click)="exit()" pButton class="ui-button-warning ui-button-rounded" label="Sair"></button>
    </div>
</p-dialog>