<div class="background">
    <div class="ui-card">
        <form #fCadastro="ngForm" (ngSubmit)="cadastrar(fCadastro)" >
            <div>
                <input class="ui-inputtext" type="text" name="nick" placeholder="Nick" ngModel required />
            </div>
            <div>
                <input class="ui-inputtext" type="text" name="email" placeholder="E-mail" ngModel required />
            </div>
            <div>
                <input class="ui-inputtext" type="password" name="password" placeholder="Password" ngModel required />
            </div>
            <div>
                <button pButton type="submit" class="ui-button-warning ui-button-rounded" label="Cadastre-se" ></button>
            </div>
            <div>
                <a [routerLink]="['/login']" pButton type="button" class="ui-button-warning ui-button-rounded" label="Voltar" ></a>
            </div>
        </form>
    </div>
</div>

<p-toast [baseZIndex]="2000"></p-toast>