<div class="background">
    <div class="ui-card">
        <form>
            <div>
                <input class="ui-inputtext" type="text" placeholder="Nick" />
            </div>
            <div>
                <input class="ui-inputtext" type="text" placeholder="E-mail" />
            </div>
            <div>
                <input class="ui-inputtext" type="password" placeholder="Password" />
            </div>
            <div>
                <button pButton type="button" class="ui-button-warning ui-button-rounded" label="Cadastre-se" ></button>
            </div>
            <div>
                <a [routerLink]="['/login']" pButton type="button" class="ui-button-warning ui-button-rounded" label="Voltar" ></a>
            </div>
        </form>
    </div>
</div>
