<div class="panel-treinador">
    <div class="ui-g">
        <div class="ui-g-4 no-pm">
            <a><img class="avatar" src="/assets/icon/ash-avatar.png"></a>
        </div>
        <div class="ui-g-8 ">
            <p class="no-pm name">Haagsma</p>
            <p class="no-pm level">Level: 1</p>
            <div class="no-pm level exp">
                <div class="ui-g no-pm">
                    <div class="ui-g-3 no-pm">
                        Exp:
                    </div>
                    <div class="ui-g-9 bar">
                        <p-progressBar class="customProgress" [showValue]="false" [style]="styleExpBar" [value]="50"></p-progressBar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>