<div class="panel-treinador">
    <div class="ui-g">
        <div class="ui-g-4 no-pm">
            <a (click)="op.toggle($event)"><img class="avatar" src="/assets/icon/ash-avatar.png"></a>
        </div>
        <div class="ui-g-8 ">
            <p class="no-pm name">{{treinador.nick}}</p>
            <p class="no-pm level">Level: {{treinador.level}}</p>
            <div class="no-pm level exp">
                <div class="ui-g no-pm">
                    <div class="ui-g-3 no-pm">
                        Exp:
                    </div>
                    <div class="ui-g-9 bar">
                        <p-progressBar class="customProgress" [showValue]="false" [style]="styleExpBar" [value]="level()"></p-progressBar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-overlayPanel #op>
    <div class="ui-g">
        <div class="ui-g-6">
            <a><img style="height: 100px" src="/assets/avatars/ash.png"></a>
        </div>
        <div class="ui-g-6">
            <p class="bold">{{treinador.nick}}</p>
            <p class="bold">Level: {{treinador.level}}</p>
            <p class="bold">Exp: {{level()}}%</p>
            <p class="bold">$ {{treinador.amount}}</p>
        </div>
    </div>
</p-overlayPanel>