<div class="laboratorio">
    <div class="container">
        <div class="informacao">
            <p>Escolha seu pokemon inicial!</p>
        </div>
        <form>
            <div>
                <p-scrollPanel class="scroll" [style]="{width: '100%', height: '400px'}">
                    <div class="ui-g">
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/001.png" />
                            <p>Charmander</p>
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/004.png" />
                            <p>Charmander</p>
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/007.png" />
                            <p>Charmander</p>
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/008.png" />
                            <p>Charmander</p>
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/009.png" />
                            <p>Charmander</p>
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/010.png" />
                            <p>Charmander</p>
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/011.png" />
                            <p>Charmander</p>
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/012.png" />
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/013.png" />
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/013.png" />
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/013.png" />
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/013.png" />
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/013.png" />
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/013.png" />
                        </div>
                        <div class="ui-g-4">
                            <img class="pokemon" src="/assets/pokemons/013.png" />
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
            <div>
                <button (click)="continuar()" pButton class="ui-button-warning ui-button-rounded" label="Continuar"></button>
            </div>
        </form>
    </div>
</div>