.arena {
    background: url("/assets/arena.png") no-repeat 0 0 / 100% 100%;
    width: 100%;
    height: 70%;
    padding-top: 60px;
}
.pokemon-in-battle {
    width: 100px;
    height: 100px;
    margin: 10px 20px 10px 20px;
}
.life-panel {
    padding: 5px;
    background: rgb(159,249,252);
    background: linear-gradient(90deg, rgba(159,249,252,1) 0%, rgba(255,255,255,1) 50%, rgba(218,254,255,1) 100%);
    border-radius: 50px;
    text-align: center;
    width: 180px;
    margin-top: 40px;
}
.life-panel p {
    color: black;
    font-weight: bold;
}
.text-black {
    color: black;
}
.f12 {
    font-size: 12px;
}
.left .life-panel {
    margin-left: 10px;
}
.arena .ui-g {
    height: 100%;
}
.ui-button-rounded  {
    width: 80%;
}

.down-panel {
    height: 30%;
    border: 4px solid black;
    background: #1d4261;
    padding-top: 20px;
}
.down-panel .ui-g .ui-g-6{
    max-height: 150px;
}
.pokemon-pokedex {
    width: 80px;
    height: 80px;
}
.item-bag {
    width: 40px;
    height: 40px;
}
.ui-g-4.choose p {
    color: lightseagreen;
    font-weight: bold;
    font-size: 0.8em;
}
.ui-g-4.choose small {
    color: lightseagreen;
    font-weight: bold;
    font-size: 0.8em;
}
.btnPower {
    max-height: 200px;
}
.img-12 {
    width: 12px;
    height: 12px;
}