#map {
    width: 100%;
    height: 100%;
}
.centered a {
    color: black;
    font-size: 2em;
}
.centered {
    position: absolute;
    z-index: 5;
    bottom: 50px;
    float: left;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 10px;
    background: rgba(0,0,0,0);
    border-radius: 50%;
}
.footer-menu {
    position: absolute;
    z-index: 5;
    bottom: 0;
    width: 95%;
    text-align: center;
    padding-bottom: 10px;
}
.item-menu {
    width: 50px;
    height: 50px;
}
