<div #map id="map"></div>
<panel-treinador></panel-treinador>
<div *ngIf="!mapaService.inCenter" class="centered">
    <a class=" item-menu" (click)="mapaService.goCenter()"><i class="pi pi-plus-circle"></i></a>
</div>
<div class="footer-menu">
    <div class="ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-2">
            <a (click)="shop.open()"><img class="item-menu" src="/assets/icon/shop.png"></a>
        </div>
        <div class="ui-g-2">
            <a (click)="pokedex.open()"><img class="item-menu" src="/assets/icon/pokedex.png"></a>
        </div>
        <div class="ui-g-2">
            <a (click)="bag.open()"><img class="item-menu" src="/assets/icon/bag.png"></a>
        </div>
        <div class="ui-g-2">
            <a (click)="pokeball.open()" ><img class="item-menu" src="/assets/icon/pokeball.png"></a>
        </div>
    </div>
</div>
<pokedex-view></pokedex-view>
<bag-component></bag-component>
<pokeball-component></pokeball-component>
<shop-component></shop-component>
<battle-component></battle-component>
<p-toast [baseZIndex]="2000"></p-toast>
<change-power></change-power>