html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
input {
    background-color: rgba(255,255,255,0.9) !important;
    border-radius: 20px;
}
p-sidebar.pokedex div.ui-sidebar-full {
    background: url("/assets/sidebar.jpg") no-repeat 0% 0% / 100% 100%;
}
p-sidebar.pokeballs div.ui-sidebar-full {
    background: url("https://image.freepik.com/vetores-gratis/fundo-de-tracado-de-pincel-amarelo-tinta-aquarela_1017-16290.jpg?1") no-repeat 0% 0% / 100% 100%;
}
p-sidebar.battle-panel div.ui-sidebar-full {
    padding: 0 0 0 0 !important;
}
.ui-button-warning {
    color: white !important;
}

.no-pm {
    padding: 0 !important;
    margin: 0 !important;
}

.customProgress .ui-progressbar .ui-progressbar-value {
    background: aqua !important;
}
.life-bar .ui-progressbar .ui-progressbar-value {
    background: #2aff04 !important;
}
.life-bar .ui-progressbar {
    height: 7px;
}
.container {
    width: 80%;
    text-align: center;
    margin: auto;
}
.pokedex .ui-sidebar-full {
    overflow: auto;
}
.scroll .ui-scrollpanel {
    padding: 0;
    margin: 0;
    background: aliceblue;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.uppercase {
    text-transform: uppercase;
}
.bold {
    font-weight: bold;
}
.captalize {
    text-transform: capitalize;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.w-100 {
    width: 100%;
}
.m-auto {
    margin: auto;
}
.box-shadow {
    box-shadow: 2px 2px 4px #000000
}
.p-b {
    padding-bottom: 20px;
}
.p-0 {
    padding: 0;
}
button.ui-button-gray.ui-button {
    background-color: gray !important;
    border-color: gray;
}