<button *ngIf="move.type.name == 'bug'" class="bug btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'dark'" class="dark btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'dragon'" class="dragon btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'electric'" class="electric btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'fairy'" class="fairy btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'fighting'" class="fighting btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'fire'" class="fire btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'flying'" class="flying btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'ghost'" class="ghost btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'grass'" class="grass btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'ground'" class="ground btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'ice'" class="ice btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'normal'" class="normal btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'poison'" class="poison btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'psychic'" class="psychic btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'rock'" class="rock btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'shadow'" class="shadow btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'steel'" class="steel btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>
<button *ngIf="move.type.name == 'water'" class="water btn" type="button">
    <p class="p captalize" style="margin-left: 0">{{move?.name || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Power: {{move?.power || ''}}</p>
    <p class="p captalize" style="margin-left: 20px">Accuracy: {{move?.accuracy || ''}}</p>
</button>